:root {
  --background-color: #0e273c;
  --background-light-grey: #e5e5e7;
  --ctiron: #e1ce7a;
  --white: #fff;
  --transition-02: 0.2s;
  --ctiron-hover: #dac259;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-light-grey);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  color: var(--background-color);
}

h5 {
  font-size: 16px;
}

a {
  font-size: 16px;
  color: var(--background-color);
  text-decoration: none;
}

p {
  font-size: 16px;
  color: var(--background-color);
}

ul,
ol {
  list-style: none;
}
/* Utility classes */
.ls-54 {
  letter-spacing: 0.54px;
}

.fs-12 {
  font-size: 12px;
}

/* Padding horizontal */
.px-12 {
  padding: 0 12px;
}

/* Border color override */
.border-title {
  border-right: 3px var(--background-color) solid;
}
/* Navigation */
header {
  z-index: 3;
}
.navbar {
  background: var(--background-color);
  border-bottom: 2px solid var(--ctiron);
  padding: 20px 0;
}
.navbar .navbar-brand {
  color: var(--white);
  font-size: 32px;
}
.navbar .navbar-brand img {
  max-width: 75px;
  box-shadow: 0 0 50px rgba(204, 204, 204, 0.3);
}

.navbar .nav-link,
#footer-menu li a {
  color: var(--ctiron);
  transition: color var(--transition-02) ease-in;
}

.navbar .nav-link:hover,
#footer-menu li a:hover {
  color: var(--white);
  transition: color var(--transition-02) ease-in;
}
/* Haburger menu lines */
.navbar button {
  width: 50px;
}
.navbar button:focus {
  box-shadow: none;
}
.line {
  position: relative;
  width: 100%;
  height: 2px;
  background: var(--ctiron);
  z-index: 2;
}
.line:before,
.line:after {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--ctiron);
  transition: all var(--transition-02) ease-in;
}
.line:after {
  top: 7px;
  transform: rotate(180deg);
  transition: all var(--transition-02) ease-in;
}
/* Hamburger menu animation */
.navbar-toggler[aria-expanded="true"] .line:before {
  top: 0;
  opacity: 0;
  transition: all var(--transition-02) ease-in;
}
.navbar-toggler[aria-expanded="true"] .line {
  transform: rotate(-135deg);
  transition: all var(--transition-02) ease-in;
}
.navbar-toggler[aria-expanded="true"] .line:after {
  top: 0;
  transform: rotate(90deg);
  transition: all var(--transition-02) ease-in;
}

/* Main content */
/* Hero section */
#hero {
  height: 517px;
  background: url("../images/hero_image.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
#hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}
/* Jumbotron */
.jumbotron {
  padding-top: 117px;
  position: relative;
  z-index: 1;
  color: var(--white);
}
.jumbotron .lead {
  color: var(--white);
}
.jumbotron .lead span {
  color: var(--ctiron);
  font-weight: 500;
}

.jumbotron .btn,
.modal-footer .btn {
  background: var(--ctiron);
  color: var(--background-color);
  transition: all var(--transition-02) ease-in;
}
.jumbotron .btn:hover {
  background: var(--ctiron-hover);
  box-shadow: 0 0 5px var(--ctiron);
  transition: all var(--transition-02) ease-in;
}

/* Work section */
#work .card-body {
  transition: all var(--transition-02) ease-in;
}

#work .card-body:hover {
  box-shadow: 0 0 10px -2px var(--background-color);
  transition: all var(--transition-02) ease-in;
}
.overlay {
  position: relative;
}
.overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  transition: opacity var(--transition-02) ease-in;
}
.overlay:hover:before {
  opacity: 0;
  transition: opacity var(--transition-02) ease-in;
}
.project-one {
  height: 410px;
  background: url("../images/home_slide_1.webp");
  background-position: center center;
}

.project-smaller {
  height: 205px;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.project-two {
  background: url("../images/gaist.webp");
}
.project-three {
  background: url("../images/ridgewey.webp");
}
.project-four {
  background: url("../images/gather&gather.webp");
}
.project-five {
  background: url("../images/ch&co.webp");
}
.card-title,
.card-text {
  z-index: 1;
  transition: font-size var(--transition-02);
}
.card-text {
  color: var(--ctiron) !important;
}

.card-text-wraper {
  background: var(--background-color);
  bottom: 20px;
  padding: 10px;
}
#work .card:hover .card-title {
  font-size: 18px;
  transition: font-size var(--transition-02);
}
#work .card:hover .card-text {
  font-size: 14px;
  transition: font-size var(--transition-02);
}

/* Skills section */
.progress {
  height: 32px;
  background-color: var(--ctiron);
}

.progress-bar {
  font-size: 18px;
  background-color: var(--background-color);
}

.js-bar .progress-bar-striped,
.jquery-bar .progress-bar-striped,
.api-bar .progress-bar-striped,
.node-bar .progress-bar-striped,
.react-bar .progress-bar-striped {
  background-image: none;
  background: var(--ctiron);
}

.js-bar .progress-bar,
.jquery-bar .progress-bar,
.api-bar .progress-bar,
.node-bar .progress-bar,
.react-bar .progress-bar {
  color: var(--background-color);
}

/* About me section */
#about .btn {
  background: var(--background-color);
  color: var(--ctiron);
  transition: all var(--transition-02) ease-in !important;
}
#about .btn:hover {
  box-shadow: 0 0 5px var(--background-color);
  color: var(--ctiron-hover);
  transition: all var(--transition-02) ease-in;
}
.contact-info a i,
.social-media a i {
  font-size: 18px;
}
.contact-info a,
.social-media a {
  transition: all var(--transition-02) ease-in;
}
.contact-info a:hover,
.social-media a:hover {
  color: var(--ctiron-hover);
  transition: all var(--transition-02) ease-in;
  text-shadow: 0 0 1px #d3d2d2;
}

/* Footer */

#footer {
  border-top: 2px var(--ctiron) solid;
  background: var(--background-color);
}

#footer a {
  color: var(--ctiron);
}

/* Modal */

.modal-content {
  background: var(--background-color);
}
.modal-header,
.modal-body,
.modal-footer {
  color: var(--ctiron) !important;
  border-color: var(--ctiron);
}

.btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e1ce7a'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  opacity: 1;
}
/* Media queries */
@media (max-width: 576px) {
  .border-title {
    border-right: 0;
    border-bottom: 3px var(--background-color) solid;
  }
}
