:root {
  --background-color: #0e273c;
  --background-light-grey: #e5e5e7;
  --ctiron: #e1ce7a;
  --white: #fff;
  --transition-02: 0.2s;
  --ctiron-hover: #dac259;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-light-grey);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

a {
  font-size: 16px;
}

/* Utility classes */
.ls-54 {
  letter-spacing: 0.54px;
}

.fs-12 {
  font-size: 12px;
}

/* Padding horizontal */
.px-12 {
  padding: 0 12px;
}

/* Border color override */
.border-title {
  border-right: 3px var(--background-color) solid;
}
/* Navigation */
.navbar {
  background: var(--background-color);
  border-bottom: 2px solid var(--ctiron);
  padding: 20px 0;
}
.navbar .navbar-brand {
  color: var(--white);
  font-size: 32px;
}
.navbar .navbar-brand img {
  max-width: 75px;
  box-shadow: 0 0 50px rgba(204, 204, 204, 0.3);
}

.navbar .nav-link {
  color: var(--ctiron);
  transition: color var(--transition-02) ease-in;
}

.navbar .nav-link:hover {
  color: var(--white);
  transition: color var(--transition-02) ease-in;
}
/* Haburger menu lines */
.navbar button {
  width: 50px;
}
.navbar button:focus {
  box-shadow: none;
}
.line {
  position: relative;
  width: 100%;
  height: 2px;
  background: var(--ctiron);
  z-index: 2;
}
.line:before,
.line:after {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--ctiron);
  transition: all var(--transition-02) ease-in;
}
.line:after {
  top: 7px;
  transform: rotate(180deg);
  transition: all var(--transition-02) ease-in;
}
/* Hamburger menu animation */
.navbar-toggler[aria-expanded="true"] .line:before {
  top: 0;
  opacity: 0;
  transition: all var(--transition-02) ease-in;
}
.navbar-toggler[aria-expanded="true"] .line {
  transform: rotate(-135deg);
  transition: all var(--transition-02) ease-in;
}
.navbar-toggler[aria-expanded="true"] .line:after {
  top: 0;
  transform: rotate(90deg);
  transition: all var(--transition-02) ease-in;
}

/* Main content */
/* Hero section */
#hero {
  height: 400px;
  background: url("../images/hero_image.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
#hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}
/* Jumbotron */
.jumbotron {
  position: relative;
  z-index: 1;
  color: var(--white);
}

.jumbotron .lead span {
  color: var(--ctiron);
  font-weight: 500;
}

.jumbotron .btn {
  background: var(--ctiron);
  color: var(--background-color);
  transition: all var(--transition-02) ease-in;
}
.jumbotron .btn:hover {
  background: var(--ctiron-hover);
  box-shadow: 0 0 5px var(--ctiron);
  transition: all var(--transition-02) ease-in;
}

/* Work section */
#work .card-body {
  transition: all var(--transition-02) ease-in;
}

#work .card-body:hover {
  box-shadow: 0 0 10px -2px var(--background-color);
  transition: all var(--transition-02) ease-in;
}
.overlay {
  position: relative;
}
.overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  transition: opacity var(--transition-02) ease-in;
}
.overlay:hover:before {
  opacity: 0;
  transition: opacity var(--transition-02) ease-in;
}
.project-one {
  height: 410px;
  background: url("../images/home_slide_1.webp");
  background-position: center center;
}

.project-smaller {
  height: 205px;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.project-two {
  background: url("../images/gaist.webp");
}
.project-three {
  background: url("../images/ridgewey.webp");
}
.project-four {
  background: url("../images/gather&gather.webp");
}
.project-five {
  background: url("../images/ch&co.webp");
}
.card-title,
.card-text {
  z-index: 1;
  transition: font-size var(--transition-02);
}
.card-text {
  color: var(--ctiron) !important;
}

.card-text-wraper {
  background: var(--background-color);
  bottom: 20px;
  padding: 10px;
}
#work .card:hover .card-title {
  font-size: 18px;
  transition: font-size var(--transition-02);
}
#work .card:hover .card-text {
  font-size: 14px;
  transition: font-size var(--transition-02);
}

/* Media queries */
@media (max-width: 576px) {
  .border-title {
    border-right: 0;
    border-bottom: 3px var(--background-color) solid;
  }
}
